<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <partial name="_HeaderRefrences" />
    @await RenderSectionAsync("Css", required: false)
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background-color: #1b6ec2">
        <div class="container">
            @await RenderSectionAsync("Navbar",required:false)
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<partial name="_FooterRefrences" />
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
