<nav class="sidebar">
    <div class="sidebar-header">
        <a href="#" class="sidebar-brand">
            Noble<span>UI</span>
        </a>
        <div class="sidebar-toggler not-active">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="sidebar-body">
        <ul class="nav">
            <li class="nav-item nav-category">اصلی</li>
            <li class="nav-item">
                <a href="/AdminDashboard" class="nav-link">
                    <i class="link-icon" data-feather="box"></i>
                    <span class="link-title">داشبورد</span>
                </a>
            </li>
            <li class="nav-item nav-category">تنظیمات آزمون</li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#Admins" role="button" aria-expanded="false"
                   aria-controls="Teachers">
                    <i class="mdi mdi-tie

"></i>
                    <span class="link-title">مدیران</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="Admins">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-area="Admin" asp-action="Index" class="nav-link text-secondary">لیست مدیران</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-area="Admin" asp-action="Create" class="nav-link text-secondary">افزودن مدیر</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-area="Admin" asp-action="Trash" class="nav-link text-secondary">بازیافت</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#Grades" role="button" aria-expanded="false"
                   aria-controls="Grades">
                    <i class="mdi mdi-folder-account
"></i>
                    <span class="link-title">پایه ها</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="Grades">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a asp-controller="Grade" asp-area="Admin" asp-action="Index" class="nav-link text-secondary">لیست پایه ها</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Grade" asp-area="Admin" asp-action="Create" class="nav-link text-secondary">افزودن پایه</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Grade" asp-area="Admin" asp-action="DeleteList" class="nav-link text-secondary">بازیافت</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#lessons" role="button" aria-expanded="false"
                   aria-controls="lessons">
                    <i class="mdi mdi-book"></i>
                    <span class="link-title">دروس</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="lessons">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a asp-controller="Lesson" asp-area="Admin" asp-action="Index" class="nav-link text-secondary">لیست دروس</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Lesson" asp-area="Admin" asp-action="Create" class="nav-link text-secondary">افزودن دروس</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Lesson" asp-area="Admin" asp-action="DeleteList" class="nav-link text-secondary">بازیافت</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#Students" role="button" aria-expanded="false"
                   aria-controls="Teachers">
                    <i class="mdi mdi-account-multiple-outline
"></i>
                    <span class="link-title">دانش آموزان</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="Students">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a asp-controller="Student" asp-area="Admin" asp-action="Index" class="nav-link text-secondary">لیست دانش آموزان</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Student" asp-area="Admin" asp-action="Create" class="nav-link text-secondary">افزودن دانش آموز</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Student" asp-area="Admin" asp-action="DeleteList" class="nav-link text-secondary">بازیافت</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#Teachers" role="button" aria-expanded="false"
                   aria-controls="Teachers">
                    <i class="mdi mdi-human-child
"></i>
                    <span class="link-title">مدرسین</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="Teachers">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a asp-controller="Teacher" asp-area="Admin" asp-action="Index" class="nav-link text-secondary">لیست مدرسین</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Teacher" asp-area="Admin" asp-action="Create" class="nav-link text-secondary">افزودن مدرس</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Teacher" asp-area="Admin" asp-action="DeleteList" class="nav-link text-secondary">بازیافت</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#Tests" role="button" aria-expanded="false"
                   aria-controls="Teachers">
                    <i class="mdi mdi-book-open-page-variant"></i>
                    <span class="link-title">آزمون ها</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="Tests">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a asp-controller="Test" asp-area="Admin" asp-action="Index" class="nav-link text-secondary">لیست آزمون ها</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Test" asp-area="Admin" asp-action="Create" class="nav-link text-secondary">افزودن آزمون</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Test" asp-area="Admin" asp-action="DeletedTestList" class="nav-link text-secondary">بازیافت</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="/AdminPanel/ShowWorkBooks" class="nav-link">
                    <i class="mdi mdi-calendar-text
"></i>
                    <span class="link-title">کارنامه ها</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/EditMerchant" class="nav-link">
                    <i class="fa fa-key
"></i>
                    <span class="link-title">کد مرچنت</span>
                </a>
            </li>
        </ul>
    </div>
</nav>