<nav class="settings-sidebar">
    <div class="sidebar-body">
        <a href="#" class="settings-sidebar-toggler">
            <i data-feather="settings"></i>
        </a>
        <h6 class="text-muted">سایدبار : </h6>
        <div class="form-group border-bottom">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="sidebarThemeSettings" id="sidebarLight"
                           value="sidebar-light" checked>
                    روشن
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="sidebarThemeSettings" id="sidebarDark"
                           value="sidebar-dark">
                    تیره
                </label>
            </div>
        </div>
        <div class="theme-wrapper">
            <h6 class="text-muted mb-2">تم روشن : </h6>
            <a class="theme-item active" href="../demo_1/dashboard-one.html">
                <img src="/AdminPanel/assets/images/screenshots/light.jpg" alt="light theme">
            </a>
            <h6 class="text-muted mb-2">تم تیره : </h6>
            <a class="theme-item" href="../demo_2/dashboard-one.html">
                <img src="/AdminPanel/assets/images/screenshots/dark.jpg" alt="light theme">
            </a>
        </div>
    </div>
</nav>